Files/Sound/.DS_Store
Files/Sound/Item/.DS_Store
Files/Sound/Item/Weapons/.DS_Store
Files/Sound/Item/Weapons/Bow/.DS_Store
Files/.DS_Store
Files/Fonts/.DS_Store
Files/Sound/Item/Weapons/Gun/.DS_Store
